@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-principal {
  background-color: #FFA62B;
}
.bg-secundaria {
  background-color: #813405;
}
.bg-terciaria {
  background-color: #F4EDED;
}
.bg-quaternaria {
  background-color: #36827F;
}
.bg-pentenaria {
  background-color: #464D77;
}